# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
project/.vs/project/FileContentIndex/805dea28-9dc3-42f6-a331-8e1c509a9565.vsidx
project/.vs/project/FileContentIndex/cb90749c-4c86-4493-9f6b-63b3fa4cb76c.vsidx
project/.vs/project/FileContentIndex/e8fbdbc1-8aaa-4978-bcd6-3f89a61f6ca4.vsidx
project/.vs/project/v17/Browse.VC.db-shm
project/.vs/project/v17/Browse.VC.db-wal
project/.vs/project/v17/Browse.VC.opendb
project/.vs/project/v17/ipch/AutoPCH/65ddbb0a8de34bde/PLAYSCENE.ipch
project/.vs/project/v17/ipch/AutoPCH/6ddaec4c824ca63/MONSTER.ipch
project/.vs/project/v17/ipch/AutoPCH/89f45d47b1cb1c4b/PLAYSCENE.ipch
project/.vs/project/v17/ipch/AutoPCH/af7d9ef0565a5a06/MONSTER.ipch
project/.vs/project/FileContentIndex/482d45ba-aaa8-4644-ac75-fd7966fd2a05.vsidx
project/.vs/project/FileContentIndex/4ea425d5-5d13-4957-b264-4fb3fc1e4234.vsidx
project/.vs/project/FileContentIndex/78a8eef0-5e21-4a00-9dca-24bdd1b693a9.vsidx
project/.vs/project/FileContentIndex/8bf4794e-a965-44a8-8867-eccbdb8262b7.vsidx
project/.vs/project/FileContentIndex/fc319663-15af-40af-84e0-c5c72dff5dd2.vsidx
project/.vs/project/v17/.suo
project/.vs/project/v17/Browse.VC.db
project/.vs/project/v17/DocumentLayout.backup.json
project/.vs/project/v17/DocumentLayout.json
project/.vs/project/v17/Solution.VC.db
project/.vs/project/v17/ipch/AutoPCH/33aef11caa059c3/MONSTERDATABASE.ipch
project/.vs/project/v17/ipch/AutoPCH/3eaebf5642bac13b/MONSTERLIST.ipch
project/.vs/project/v17/ipch/AutoPCH/5b197386887e02fd/ENEMY.ipch
project/.vs/project/v17/ipch/AutoPCH/643b69ee47136a4e/MONSTERLIST.ipch
project/.vs/project/v17/ipch/AutoPCH/8397274017ff18/PLAYER.ipch
project/.vs/project/v17/ipch/AutoPCH/adbb00f0b70efdaa/XTHROW.ipch
project/.vs/project/v17/ipch/AutoPCH/d377f29e5414b6d8/SKILL.ipch
project/.vs/project/v17/ipch/AutoPCH/d6a97c3712aca450/SKILLLIST.ipch
project/.vs/project/v17/ipch/AutoPCH/df5ab053ea20c523/SCENEFACTORY.ipch
project/.vs/project/v17/ipch/AutoPCH/e4a2bac683db8b9e/MONSTERDATABASE.ipch
project/.vs/project/v17/ipch/AutoPCH/ef3fe046766555e2/THROW_BAD_ALLOC.ipch
project/.vs/project/FileContentIndex/4c69f309-a519-4332-ac98-51e050bc1b0e.vsidx
project/.vs/project/FileContentIndex/d48ddb9b-9790-403b-b0b3-2709d669316f.vsidx
project/.vs/project/FileContentIndex/dc874f87-ae65-4d59-8347-faad0203bb23.vsidx
project/.vs/project/v17/ipch/AutoPCH/b53e9c207bf67208/MAIN.ipch
project/.vs/project/FileContentIndex/9564a5ce-ac33-4d5f-9816-9c7eedf81ea7.vsidx
project/.vs/project/v17/ipch/AutoPCH/df578aa9592ed2da/VCTMP4220_752622.MONSTER.00000000.ipch
project/.vs/project/FileContentIndex/1db43f26-8a83-4414-aa35-2541e29a4244.vsidx
project/.vs/project/FileContentIndex/53295636-7e49-4a08-9448-49a407d234a8.vsidx
project/.vs/project/FileContentIndex/e660b565-4edd-404f-98cd-494e5cd99431.vsidx
