# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
project/.vs/project/FileContentIndex/805dea28-9dc3-42f6-a331-8e1c509a9565.vsidx
project/.vs/project/FileContentIndex/cb90749c-4c86-4493-9f6b-63b3fa4cb76c.vsidx
project/.vs/project/FileContentIndex/e8fbdbc1-8aaa-4978-bcd6-3f89a61f6ca4.vsidx
project/.vs/project/v17/Browse.VC.db-shm
project/.vs/project/v17/Browse.VC.db-wal
project/.vs/project/v17/Browse.VC.opendb
project/.vs/project/v17/ipch/AutoPCH/65ddbb0a8de34bde/PLAYSCENE.ipch
project/.vs/project/v17/ipch/AutoPCH/6ddaec4c824ca63/MONSTER.ipch
project/.vs/project/v17/ipch/AutoPCH/89f45d47b1cb1c4b/PLAYSCENE.ipch
project/.vs/project/v17/ipch/AutoPCH/af7d9ef0565a5a06/MONSTER.ipch
